<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">


<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

<form class="login" action = "/admin" method = "post">
	<label>Admin Login: </label>
	<input type="text" name="login">

	<label>Password: </label>
	<input type="text" name="password">

	<input type= "submit"=>
</form> 

<span class="top_tab">
	<a class="top_tab top_text" href="/account?name=Sonia" class="account_link">Sonia</a>
</span>
<span class="top_tab">
	<a class="top_tab top_text" href="/account?name=Priya" class="account_link">Priya</a>
</span>
<span class="top_tab">
	<a class="top_tab top_text" href="/account?name=both priya and sonia" class="account_link">View All</a>
</span>

	<div class="folder" id="folder_sonia">

		<form class="entry" action ="/getinfo" method ="post">
			<ul>
				<li>
					<select name = "Account">
						<option value = "Sonia">Sonia</option>
						<option value = "Priya">Priya</option>
					</select>
				</li>
				<li>
					<label>Date</label>
						<input type="date" name="Date"> 
				</li>
				<li>
				<label>Retailer</label>
					<input type="text" name="Payee">
				</li>
				<li>
				<label>Category</label>
					<input type="text" name="Category">
				</li>
				<li>
				<label>Gained</label>
					<input type = "text" name="Outflow">
				</li>
				<li>
				<label>Spent</label>
					<input type="text" name="Inflow">
				</li>
				<li>
				<input type= "submit"=>
				</li>
			</ul>

		</form>
	</div>


</body>

</html>



















