<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
	<div class="account_link">
		<a href="/account?name=Sonia" class="account_link">Sonia</a> 

		<a href="/account?name=Priya" class="account_link">Priya </a>  

		<a href="/account?name=both priya and sonia" class="account_link">View All Accounts</a>
	</div>

	<form action = "/account" method = "post">
		<label>Admin Login: </label>
		<input type="text" name="login">

		<label>Password: </label>
		<input type="text" name="password">

		<input type= "submit"=>
	</form> 

</body>

</html>
